html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus-visible,
[type="button"]:focus-visible,
button:focus-visible {
	outline: none;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-width: 320px;

	font-family: 'Open Sans', sans-serif;
	color: var(--text-color-main);
	
	background-color: var(--sanguine-brown);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input[type="search"],
input[type="submit"],
input[type="text"],
input[type="tel"],
input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	caret-color: var(--eastern-blue);
	outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
} 
